@* Pages/ReservaAgregarEditar.razor *@
@page "/reserva/agregar"
@page "/reserva/editar/{Id:int}"
@inject NavigationManager NavigationManager
@inject ReservaServicio reservaServicio
@inject ClienteServicio clienteServicio;
@inject HabitacionServicio habitacionServicio;

<h3>@Titulo</h3>
	<div class="row">
		<div class="col-md-6">
			<EditForm Model="@ins" OnValidSubmit="Grabar">
				<DataAnnotationsValidator/>
				<div class="form-group">
					<label for="ReservaId">ReservaId</label>
					<InputNumber typeclass="form-control" @bind-Value="res.ReservaId" disabled=true/>
					<ValidationMessage For="@(()=>res.ReservaId)"/>
				</div>
				<div class="form-group">
					<label for="ClienteId" class="control-label">Cliente </label>
					<InputSelect id="ClienteId" class="form-control" @bind-Value="res.ClienteId">
					<option value="@(0)" disabled >-Elije un Cliente-</option>
						@foreach (var i in @cli) 
						{
							<option value="@r.ClienteId">@r.NombreCompleto</option>
						}
					</InputSelect>
				</div>
				<div class="form-group">
					<label for="HabitacionId" class="control-label">HabitacionId</label>
					<InputSelect id="HabitacionId" class="form-control" @bind-Value="res.HabitacionId">
						<option value="@(0)" disabled >-Elije una Habitacion-</option>
						@foreach (var r in @hab) 
						{
							<option value="@r.HabitacionId">@r.Tipo @r.Tipo</option>

						}
					</InputSelect>
				</div>
				<div class="form-group">
					<label for="InicioReserva">InicioReserva</label>
					<InputDate class="form-control" @bind-Value="res.InicioReserva"/>
					<ValidationMessage For="@(()=>res.InicioReserva)"/>
				</div>
				<div class="form-group">
					<label for="FinReserva">FinReserva</label>
					<InputDate class="form-control" @bind-Value="res.FinReserva"/>
					<ValidationMessage For="@(()=>res.FinReserva)"/>
				</div>
				<div>
					@mensaje
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<input type="submit" class="btn btn-primary" @onclick="@Grabar" value="Grabar"/>
							<input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar"/>
						</div>
					</div>
				</div>
			</EditForm>
		</div>
	</div>
@code 
{
	[Parameter]
	public int Id {get; set;}
	Reserva res = new Reserva();
	List<Cliente> cli;
	List<Habitacion> hab;
	private string mensaje = string.Empty;
	private string Titulo="Hacer reserva";
	private bool deshabilitar = false;
	protected void Grabar() 
    {
		if(reservaServicio.AgregarActualizar(res)) 
        {
			mensaje = "Agregado exitosamente ";

		} 
        else mensaje = "No pudo agregarse";

		NavigationManager.NavigateTo("reservas",forceLoad:true);

	}
	void Cancel() 
    {
		NavigationManager.NavigateTo("reservas",forceLoad:true);
	}
	protected override void OnInitialized() 
    {
		if (Id > 0) 
        {
			res = reservaServicio.EcontrarPorId(Id);
			deshabilitar = true;
		}
		cli = clienteServicio.ObtenerTodo("");
		hab = habitacionServicio.ObtenerTodo("");
	}
}